@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
button,
select,
textarea {
  outline: none;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}